.shelf {
    background-image: url(images/bookshelf.png);
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid black;
    height: 800px;
    width: 480px;
}

.book {
    background-image: url(images/book.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 100px;
    width: 75px;
    border: 1px solid salmon;
}

.read {
    filter: blur(5px);
}